<a href="https://colab.research.google.com/github/MunySafitri/Information-Retrieval/blob/master/inverted_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy

In [ ]:
#Read Dataset format Dataframe
# df = pd.read_csv('crawlDataMhs.csv')
url = 'https://raw.githubusercontent.com/syuhraputri27/InformationRetrieval_DataMhs/main/InformationRetrieval_TemuKembaliInformasi/crawlDataMhs.csv'
df = pd.read_csv(url)
df.head(None)
print(df['Nama'],df['Organisasi/UKM & Periode'])

0               dwinanda ardi aprilian
1            tsaniya zhahiran septiani
2         dewi natalia sriwahyuni,tjan
3                  aditya saiful rizky
4                nadia amalia maslahah
5                 santia indah syahida
6         bastiaans, jessica carmelita
7                      intan destriana
8                   daffa yusa aditama
9          julius immanuel theo krisna
10               aisha tsany satorasih
11              syarifah marwa nabilah
12      muhammad fariz fadhilah aditya
13                 iqfarchan visnu aji
14              angga apriano hermawan
15                       james hartojo
16                       ifta mu'izana
17    tiara sanika langsa putriningsih
18         immanuel felix abel ketaren
19              ferris tita sabilillah
20           odillia caroline natanael
21                 ailsa nabila fattah
22                    damar oktavianto
23            ryandhika bintang abiyyi
24                raihan aris darmawan
25            ramandhika panca handoyo
26                 gracea dwi onesiana
27               gading candra pranolo
28             the manuel eric saputra
29               ardian shandy perdana
30                    ibrahim amirudin
31                inge alinda prasasti
32                 achmad dhany tomara
33                       ovin maharani
34         rifqi ramadhani marta praja
35                 igbal yahya umurona
36             parlian ganda mangkurai
37                      devi margareta
38             theodora vinnie chandra
39                 dina fitria ningrum
40                   muhammad multazam
41                    zulmi umar fauzi
42               xunduz taffany khansa
Name: Nama, dtype: object 0      dpm fakultas ilmu komputer pengurus 2021-2022...
1      dpm fakultas ilmu komputer pengurus 2021-2022...
2      dpm fakultas ilmu komputer pengurus 2021-2022...
3      dpm fakultas ilmu komputer pengurus 2021-2022...
4      dpm fakultas ilmu komputer pengurus 2021-2022...
5      dpm fakultas ilmu komputer pengurus 2022-2023
6      dpm fakultas ilmu komputer pengurus 2022-2023
7      dpm fakultas ilmu komputer pengurus 2022-2023
8      dpm fakultas ilmu komputer pengurus 2022-2023
9      pelayanan kerasulan keluarga mahasiswa katoli...
10     dpm fakultas ilmu komputer pengurus 2021-2022...
11     udinus debating community anggota 2022-2023 ,...
12     dpm fakultas ilmu komputer pengurus 2022-2023
13     dpm fakultas ilmu komputer pengurus 2022-2023
14     dpm fakultas ilmu komputer pengurus 2021-2022...
15     dpm fakultas ilmu komputer pengurus 2022-2023
16     dpm fakultas ilmu komputer pengurus 2021-2022...
17     dpm fakultas ilmu komputer pengurus 2022-2023
18     persekutuan mahasiswa kristen pengurus 2022-2...
19     dpm fakultas ilmu komputer pengurus 2022-2023
20     dpm fakultas ilmu komputer pengurus 2021-2022...
21     dpm fakultas ilmu komputer pengurus 2021-2022...
22     dpm fakultas ilmu komputer pengurus 2022-2023
23     dpm fakultas ilmu komputer pengurus 2022-2023
24
25     dpm fakultas ilmu komputer pengurus 2021-2022...
26     dpm fakultas ilmu komputer pengurus 2022-2023
27     dpm fakultas ilmu komputer pengurus 2022-2023
28     dpm fakultas ilmu komputer pengurus 2022-2023
29     bem fakultas ilmu komputer pengurus 2021-2022...
30                   catur udinus pengurus 2021-2022
31
32     bem fakultas ilmu komputer pengurus 2020-2021...
33
34                   catur udinus pengurus 2021-2022
35                   catur udinus pengurus 2021-2022
36                   catur udinus pengurus 2021-2022
37     bem fakultas ilmu komputer pengurus 2021-2022...
38     bem fakultas ilmu komputer pengurus 2021-2022...
39     bem fakultas ilmu komputer pengurus 2021-2022...
40                   catur udinus pengurus 2021-2022
41     bem fakultas ilmu komputer pengurus 2020-2021...
42     bem fakultas ilmu komputer pengurus 2021-2022...
Name: Organisasi/UKM & Periode, dtype: object

In [ ]:
#Tokenisasi
df_parse = df.copy()

cols = ["Nama","NIM","Organisasi/UKM & Periode"]
for col in cols:
    df_parse[col] = df_parse[col].str.split()
print(df_parse)

                                     Nama               NIM  \
0              [dwinanda, ardi, aprilian]  [A11.2020.12457]
1           [tsaniya, zhahiran, septiani]  [A11.2020.12590]
2        [dewi, natalia, sriwahyuni,tjan]  [A15.2020.01760]
3                 [aditya, saiful, rizky]  [A11.2020.12720]
4               [nadia, amalia, maslahah]  [A11.2020.12953]
5                [santia, indah, syahida]  [A15.2021.02136]
6        [bastiaans,, jessica, carmelita]  [A11.2021.13249]
7                      [intan, destriana]  [A15.2021.01986]
8                  [daffa, yusa, aditama]  [A11.2021.13462]
9        [julius, immanuel, theo, krisna]  [A11.2020.12460]
10              [aisha, tsany, satorasih]  [A14.2020.03420]
11             [syarifah, marwa, nabilah]  [A15.2021.02040]
12    [muhammad, fariz, fadhilah, aditya]  [A11.2021.13252]
13                [iqfarchan, visnu, aji]  [A15.2021.02021]
14             [angga, apriano, hermawan]  [A11.2020.12417]
15                       [james, hartojo]  [A11.2021.13221]
16                       [ifta, mu'izana]  [A11.2020.12490]
17  [tiara, sanika, langsa, putriningsih]  [A11.2021.13909]
18       [immanuel, felix, abel, ketaren]  [A11.2021.13676]
19             [ferris, tita, sabilillah]  [A11.2021.13579]
20          [odillia, caroline, natanael]  [A14.2020.03323]
21                [ailsa, nabila, fattah]  [A14.2020.03494]
22                    [damar, oktavianto]  [A14.2020.03552]
23           [ryandhika, bintang, abiyyi]  [A11.2021.13498]
24               [raihan, aris, darmawan]  [A11.2020.12770]
25           [ramandhika, panca, handoyo]  [A15.2021.02239]
26                [gracea, dwi, onesiana]  [A15.2020.01815]
27              [gading, candra, pranolo]  [A15.2021.02005]
28           [the, manuel, eric, saputra]  [A11.2021.13250]
29              [ardian, shandy, perdana]  [A12.2020.06531]
30                    [ibrahim, amirudin]  [A22.2021.02875]
31               [inge, alinda, prasasti]  [A14.2020.03589]
32                [achmad, dhany, tomara]  [A11.2019.11827]
33                       [ovin, maharani]  [B11.2020.06653]
34       [rifqi, ramadhani, marta, praja]  [A11.2020.12444]
35                [igbal, yahya, umurona]  [A12.2020.06538]
36            [parlian, ganda, mangkurai]  [A11.2020.12468]
37                      [devi, margareta]  [A12.2020.06372]
38            [theodora, vinnie, chandra]  [A14.2020.03403]
39                [dina, fitria, ningrum]  [A15.2020.01890]
40                   [muhammad, multazam]  [A12.2020.06535]
41                   [zulmi, umar, fauzi]  [A11.2019.11725]
42              [xunduz, taffany, khansa]  [A15.2020.01903]

                             Organisasi/UKM & Periode  \
0   [dpm, fakultas, ilmu, komputer, pengurus, 2021...
1   [dpm, fakultas, ilmu, komputer, pengurus, 2021...
2   [dpm, fakultas, ilmu, komputer, pengurus, 2021...
3   [dpm, fakultas, ilmu, komputer, pengurus, 2021...
4   [dpm, fakultas, ilmu, komputer, pengurus, 2021...
5   [dpm, fakultas, ilmu, komputer, pengurus, 2022...
6   [dpm, fakultas, ilmu, komputer, pengurus, 2022...
7   [dpm, fakultas, ilmu, komputer, pengurus, 2022...
8   [dpm, fakultas, ilmu, komputer, pengurus, 2022...
9   [pelayanan, kerasulan, keluarga, mahasiswa, ka...
10  [dpm, fakultas, ilmu, komputer, pengurus, 2021...
11  [udinus, debating, community, anggota, 2022-20...
12  [dpm, fakultas, ilmu, komputer, pengurus, 2022...
13  [dpm, fakultas, ilmu, komputer, pengurus, 2022...
14  [dpm, fakultas, ilmu, komputer, pengurus, 2021...
15  [dpm, fakultas, ilmu, komputer, pengurus, 2022...
16  [dpm, fakultas, ilmu, komputer, pengurus, 2021...
17  [dpm, fakultas, ilmu, komputer, pengurus, 2022...
18  [persekutuan, mahasiswa, kristen, pengurus, 20...
19  [dpm, fakultas, ilmu, komputer, pengurus, 2022...
20  [dpm, fakultas, ilmu, komputer, pengurus, 2021...
21  [dpm, fakultas, ilmu, komputer, pengurus, 2021...
22  [dpm, fakultas, ilmu, komputer, pengurus, 2022...
23  [dpm, fakultas, ilmu, komputer, pengurus, 2022...
24                                                 []
25  [dpm, fakultas, ilmu, komputer, pengurus, 2021...
26  [dpm, fakultas, ilmu, komputer, pengurus, 2022...
27  [dpm, fakultas, ilmu, komputer, pengurus, 2022...
28  [dpm, fakultas, ilmu, komputer, pengurus, 2022...
29  [bem, fakultas, ilmu, komputer, pengurus, 2021...
30               [catur, udinus, pengurus, 2021-2022]
31                                                 []
32  [bem, fakultas, ilmu, komputer, pengurus, 2020...
33                                                 []
34               [catur, udinus, pengurus, 2021-2022]
35               [catur, udinus, pengurus, 2021-2022]
36               [catur, udinus, pengurus, 2021-2022]
37  [bem, fakultas, ilmu, komputer, pengurus, 2021...
38  [bem, fakultas, ilmu, komputer, pengurus, 2021...
39  [bem, fakultas, ilmu, komputer, pengurus, 2021...
40               [catur, udinus, pengurus, 2021-2022]
41  [bem, fakultas, ilmu, komputer, pengurus, 2020...
42  [bem, fakultas, ilmu, komputer, pengurus, 2021...

                                                 Foto
0   http://mahasiswa.dinus.ac.id/images/foto/A/A11...
1   http://mahasiswa.dinus.ac.id/images/foto/A/A11...
2   http://mahasiswa.dinus.ac.id/images/foto/A/A15...
3   http://mahasiswa.dinus.ac.id/images/foto/A/A11...
4   http://mahasiswa.dinus.ac.id/images/foto/A/A11...
5   http://mahasiswa.dinus.ac.id/images/foto/A/A15...
6   http://mahasiswa.dinus.ac.id/images/foto/A/A11...
7   http://mahasiswa.dinus.ac.id/images/foto/A/A15...
8   http://mahasiswa.dinus.ac.id/images/foto/A/A11...
9   http://mahasiswa.dinus.ac.id/images/foto/A/A11...
10  http://mahasiswa.dinus.ac.id/images/foto/A/A14...
11  http://mahasiswa.dinus.ac.id/images/foto/A/A15...
12  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
13  http://mahasiswa.dinus.ac.id/images/foto/A/A15...
14  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
15  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
16  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
17  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
18  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
19  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
20  http://mahasiswa.dinus.ac.id/images/foto/A/A14...
21  http://mahasiswa.dinus.ac.id/images/foto/A/A14...
22  http://mahasiswa.dinus.ac.id/images/foto/A/A14...
23  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
24  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
25  http://mahasiswa.dinus.ac.id/images/foto/A/A15...
26  http://mahasiswa.dinus.ac.id/images/foto/A/A15...
27  http://mahasiswa.dinus.ac.id/images/foto/A/A15...
28  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
29  http://mahasiswa.dinus.ac.id/images/foto/A/A12...
30  http://mahasiswa.dinus.ac.id/images/foto/A/A22...
31  http://mahasiswa.dinus.ac.id/images/foto/A/A14...
32  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
33  http://mahasiswa.dinus.ac.id/images/foto/B/B11...
34  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
35  http://mahasiswa.dinus.ac.id/images/foto/A/A12...
36  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
37  http://mahasiswa.dinus.ac.id/images/foto/A/A12...
38  http://mahasiswa.dinus.ac.id/images/foto/A/A14...
39  http://mahasiswa.dinus.ac.id/images/foto/A/A15...
40  http://mahasiswa.dinus.ac.id/images/foto/A/A12...
41  http://mahasiswa.dinus.ac.id/images/foto/A/A11...
42  http://mahasiswa.dinus.ac.id/images/foto/A/A15...

In [ ]:
#Merge setiap kolom menjadi satu dokumen terms
df_mergeparse = pd.DataFrame(columns = ["dokumen"])

temp = df_parse["Nama"]

cols = ["NIM","Organisasi/UKM & Periode"]
for col in cols:
    temp = temp + df_parse[col]
    df_mergeparse["dokumen"] = temp
print(df_mergeparse)

                                              dokumen
0   [dwinanda, ardi, aprilian, A11.2020.12457, dpm...
1   [tsaniya, zhahiran, septiani, A11.2020.12590, ...
2   [dewi, natalia, sriwahyuni,tjan, A15.2020.0176...
3   [aditya, saiful, rizky, A11.2020.12720, dpm, f...
4   [nadia, amalia, maslahah, A11.2020.12953, dpm,...
5   [santia, indah, syahida, A15.2021.02136, dpm, ...
6   [bastiaans,, jessica, carmelita, A11.2021.1324...
7   [intan, destriana, A15.2021.01986, dpm, fakult...
8   [daffa, yusa, aditama, A11.2021.13462, dpm, fa...
9   [julius, immanuel, theo, krisna, A11.2020.1246...
10  [aisha, tsany, satorasih, A14.2020.03420, dpm,...
11  [syarifah, marwa, nabilah, A15.2021.02040, udi...
12  [muhammad, fariz, fadhilah, aditya, A11.2021.1...
13  [iqfarchan, visnu, aji, A15.2021.02021, dpm, f...
14  [angga, apriano, hermawan, A11.2020.12417, dpm...
15  [james, hartojo, A11.2021.13221, dpm, fakultas...
16  [ifta, mu'izana, A11.2020.12490, dpm, fakultas...
17  [tiara, sanika, langsa, putriningsih, A11.2021...
18  [immanuel, felix, abel, ketaren, A11.2021.1367...
19  [ferris, tita, sabilillah, A11.2021.13579, dpm...
20  [odillia, caroline, natanael, A14.2020.03323, ...
21  [ailsa, nabila, fattah, A14.2020.03494, dpm, f...
22  [damar, oktavianto, A14.2020.03552, dpm, fakul...
23  [ryandhika, bintang, abiyyi, A11.2021.13498, d...
24           [raihan, aris, darmawan, A11.2020.12770]
25  [ramandhika, panca, handoyo, A15.2021.02239, d...
26  [gracea, dwi, onesiana, A15.2020.01815, dpm, f...
27  [gading, candra, pranolo, A15.2021.02005, dpm,...
28  [the, manuel, eric, saputra, A11.2021.13250, d...
29  [ardian, shandy, perdana, A12.2020.06531, bem,...
30  [ibrahim, amirudin, A22.2021.02875, catur, udi...
31           [inge, alinda, prasasti, A14.2020.03589]
32  [achmad, dhany, tomara, A11.2019.11827, bem, f...
33                   [ovin, maharani, B11.2020.06653]
34  [rifqi, ramadhani, marta, praja, A11.2020.1244...
35  [igbal, yahya, umurona, A12.2020.06538, catur,...
36  [parlian, ganda, mangkurai, A11.2020.12468, ca...
37  [devi, margareta, A12.2020.06372, bem, fakulta...
38  [theodora, vinnie, chandra, A14.2020.03403, be...
39  [dina, fitria, ningrum, A15.2020.01890, bem, f...
40  [muhammad, multazam, A12.2020.06535, catur, ud...
41  [zulmi, umar, fauzi, A11.2019.11725, bem, faku...
42  [xunduz, taffany, khansa, A15.2020.01903, bem,...

In [ ]:
#Term with ID
df_term = pd.DataFrame(columns = ["Terms","ID"])

size = df_mergeparse.shape[0]
for y in range(size):
    row = df_mergeparse["dokumen"].iloc[y]

    for item in row:
        # df_term = pd.concat([df_term,{"Terms":item,"ID":y}], ignore_index=True)
        df_term = df_term.append({"Terms":item,"ID":y}, ignore_index=True)
        # https://www.balioglu.net/solved-how-to-convert-frame-append-to-pandas-concat/

        # pd.concat([pd.DataFrame([y], columns=["Terms","ID"]) for i in range(size)],ignore_index=True)

print(df_term.head(None))

              Terms  ID
0          dwinanda   0
1              ardi   0
2          aprilian   0
3    A11.2020.12457   0
4               dpm   0
..              ...  ..
575               ,  42
576           catur  42
577          udinus  42
578        pengurus  42
579       2021-2022  42

[580 rows x 2 columns]

In [ ]:
# Sort Term berdasar alfabet
df_term_sorted = df_term.sort_values(by="Terms")

print(df_term_sorted.tail(15))
# print(df_term_sorted.shape[0])

        Terms  ID
562    udinus  41
482    udinus  37
540    udinus  40
577    udinus  42
452    udinus  34
504    udinus  38
544      umar  41
457   umurona  35
493    vinnie  38
201     visnu  13
565    xunduz  42
456     yahya  35
121      yusa   8
18   zhahiran   1
543     zulmi  41

In [ ]:
# inisialisasi inverted index
df_invertedindex = pd.DataFrame(columns = ["Terms","docFreq","postList"])
# copy nila term unik
size = df_term_sorted.shape[0]
df_invertedindex['Terms'] = df_term_sorted['Terms'].unique()

print(df_invertedindex.tail(50))

               Terms docFreq postList
144         onesiana     NaN      NaN
145             ovin     NaN      NaN
146            panca     NaN      NaN
147          parlian     NaN      NaN
148        pelayanan     NaN      NaN
149         pengurus     NaN      NaN
150          perdana     NaN      NaN
151      persekutuan     NaN      NaN
152            praja     NaN      NaN
153          pranolo     NaN      NaN
154         prasasti     NaN      NaN
155     putriningsih     NaN      NaN
156            radio     NaN      NaN
157           raihan     NaN      NaN
158        ramadhani     NaN      NaN
159       ramandhika     NaN      NaN
160            rifqi     NaN      NaN
161            rizky     NaN      NaN
162        ryandhika     NaN      NaN
163       sabilillah     NaN      NaN
164           saiful     NaN      NaN
165           sanika     NaN      NaN
166           santia     NaN      NaN
167          saputra     NaN      NaN
168        satorasih     NaN      NaN
169         septiani     NaN      NaN
170           shandy     NaN      NaN
171  sriwahyuni,tjan     NaN      NaN
172            swara     NaN      NaN
173          syahida     NaN      NaN
174         syarifah     NaN      NaN
175          taffany     NaN      NaN
176              the     NaN      NaN
177             theo     NaN      NaN
178         theodora     NaN      NaN
179            tiara     NaN      NaN
180             tita     NaN      NaN
181           tomara     NaN      NaN
182          tsaniya     NaN      NaN
183            tsany     NaN      NaN
184           udinus     NaN      NaN
185             umar     NaN      NaN
186          umurona     NaN      NaN
187           vinnie     NaN      NaN
188            visnu     NaN      NaN
189           xunduz     NaN      NaN
190            yahya     NaN      NaN
191             yusa     NaN      NaN
192         zhahiran     NaN      NaN
193            zulmi     NaN      NaN

In [ ]:
# inisialisasi nilai dokumem frekuensi
df_invertedindex["docFreq"]=0

print(df_invertedindex.tail(50))

               Terms  docFreq postList
144         onesiana        0      NaN
145             ovin        0      NaN
146            panca        0      NaN
147          parlian        0      NaN
148        pelayanan        0      NaN
149         pengurus        0      NaN
150          perdana        0      NaN
151      persekutuan        0      NaN
152            praja        0      NaN
153          pranolo        0      NaN
154         prasasti        0      NaN
155     putriningsih        0      NaN
156            radio        0      NaN
157           raihan        0      NaN
158        ramadhani        0      NaN
159       ramandhika        0      NaN
160            rifqi        0      NaN
161            rizky        0      NaN
162        ryandhika        0      NaN
163       sabilillah        0      NaN
164           saiful        0      NaN
165           sanika        0      NaN
166           santia        0      NaN
167          saputra        0      NaN
168        satorasih        0      NaN
169         septiani        0      NaN
170           shandy        0      NaN
171  sriwahyuni,tjan        0      NaN
172            swara        0      NaN
173          syahida        0      NaN
174         syarifah        0      NaN
175          taffany        0      NaN
176              the        0      NaN
177             theo        0      NaN
178         theodora        0      NaN
179            tiara        0      NaN
180             tita        0      NaN
181           tomara        0      NaN
182          tsaniya        0      NaN
183            tsany        0      NaN
184           udinus        0      NaN
185             umar        0      NaN
186          umurona        0      NaN
187           vinnie        0      NaN
188            visnu        0      NaN
189           xunduz        0      NaN
190            yahya        0      NaN
191             yusa        0      NaN
192         zhahiran        0      NaN
193            zulmi        0      NaN

In [ ]:
# inverted index
size = df_term_sorted.shape[0]
invertedIndexCounter = 0
temp_list = []
for i in range(size):
    if (df_term_sorted['Terms'].iloc[i] == df_invertedindex['Terms'].iloc[invertedIndexCounter]):
        df_invertedindex["docFreq"].iloc[invertedIndexCounter]+=1
        temp_list.append(df_term_sorted["ID"].iloc[i])
        df_invertedindex["postList"].iloc[invertedIndexCounter] = temp_list
    else :
        temp_list = []
        invertedIndexCounter += 1
        df_invertedindex["docFreq"].iloc[invertedIndexCounter] += 1
        temp_list.append(df_term_sorted["ID"].iloc[i])
        df_invertedindex["postList"].iloc[invertedIndexCounter] = temp_list

print(df_invertedindex.iloc[1:200])

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

              Terms  docFreq  \
1         2020-2021        2
2         2021-2022       33
3         2022-2023       33
4    A11.2019.11725        1
5    A11.2019.11827        1
..              ...      ...
189          xunduz        1
190           yahya        1
191            yusa        1
192        zhahiran        1
193           zulmi        1

                                              postList
1                                             [32, 41]
2    [25, 2, 9, 20, 21, 9, 16, 3, 10, 14, 4, 2, 42,...
3    [9, 39, 8, 10, 11, 38, 11, 7, 12, 27, 14, 6, 2...
4                                                 [41]
5                                                 [32]
..                                                 ...
189                                               [42]
190                                               [35]
191                                                [8]
192                                                [1]
193                                               [41]

[193 rows x 3 columns]